.footer-two{
	width: 100%;
	margin: 0;
	padding: 12px 0px 12px 0px;
	background: black;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	color: white;

}

.Steve-Jobs{
	margin-left: 15px;
	font-weight: bold!important;
	color: black;
}

.copyright{color: white;}
.color{color: white; margin-top: 5px;}





