nav{
	position: fixed;
	width: 100%;
	background: #00e7b4;
	margin: 0;
}

ul {
	padding: 0;
	display: flex;
}

li{
	list-style: none;
	padding: 10px 40px;
}

ul li a{
	text-decoration: none!important;
	text-transform: uppercase;
	font-size: 1em;
	color: white;
	position: relative;
	transition: .5s;
}

ul li a:before{
	content: '';
	position: absolute;
	width: 100%;
	height: 26px;
	background: #ff5f5f;
	transform-style: preserve-3d;
	transform: scale(0) rotateY(0deg) skew(10deg);
	transition: 1.2s cubic-bezier(.43,1.91,.35,.74);
	opacity: 0.10;
	
}


ul li:hover a:before{
	transform: scale(2.0) rotateY(360deg) skew(10deg);

}


ul li:hover a{
	color: black;
	font-weight: bold;
}

div{width: 100%; min-height: 96vh;}

.footer{
	width: 100%;
	margin: 0;
	padding: 20px 0px 20px 0px;
	height: 15%;
	background: black;
	text-align: center;
	font-size: 1.0em;
	color: white;

}